<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="StreamLineDataEntities" connectionString="metadata=res://*/StreamLineData.csdl|res://*/StreamLineData.ssdl|res://*/StreamLineData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=masons-laptop;initial catalog=StreamLineData;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>