@model StreamLine.Models.PostInstagramDataModel

<div class="Instagram-Data">
    <div class="Profile-Image-Twitter">
        <img class="ProfileImage" src="@Model.ImageURL" />
    </div>
    <div class="Pic-Info">
        <div class="Pic-Likes">Likes : @Model.Likes</div>
        <div class="Insta-Caption">Caption : @Model.Caption</div>
    </div>
</div>